footer.terminal {
    margin: 2em;
    font-size: 60%;
    text-align: center;
}

.spinner-waiting label {
    font-size: 500%;
    color: gray;
}

section, form {
    margin: 0.3em 0.3em 1em;
}

.pure-form button {
    font-size: 140%;
}

.gauge {
    margin-top: 1em;
    background-color: #d1ffbc;
}

.gauge div {
    background-color: #78ff3c;
    font-size: 140%;
    color: white;
    font-weight: 200;
    padding: 0.3em 0
}